.triangle-area {
    margin: 20px 0;
    text-align: left;
    font-family: cursive;
}

.input-group {
    display: inline-block;
    margin-right: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

.input-group input {
    display: block;
    width: 100px;
    padding: 5px;
    border: 1px solid black;
    font-family: cursive;
    font-size: 18px;
}

.calculated-area {
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    font-family: cursive;
    font-size: 18px;
    min-height: 50px;
}
